* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
}

ul {
    list-style: none;
}

li > a {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 1fr;
    align-items: center;
}

li + li {
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: black;
}

img {
    width: 3em;
}

button {
    height: 3em;
    border-radius: 20% / 50%;
    color: white;
    background-color: rgb(28, 147, 210);
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.layout {
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto 1fr;
    height: 100%;
}

.sidebar {
    background-color: rgba(24, 147, 212, 255);
    color: white;
    font-weight: bold;
    grid-row: 1 / 3;
    z-index: 100;
}
.sidebar > div {
    display: grid;
    align-content: start;
    justify-content: center;
    gap: 50px;
    position: sticky;
    top: 20px;top: 20px;
}
.sidebar a {
    color: white;
}

.header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px 40px;
    z-index: 10;
    box-shadow: 0px 5px 5px gray;
    position: sticky;
    top: -80px;
    background-color: white;
}
.header > .top-header {
    display: grid;
    grid-template-columns: auto auto;
}
.header > .top-header > form {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}
.header input[type='search'] {
    background-color: rgba(226, 233, 241, 255);
    padding: 0 20px;
    height: 2em;
    border: none;
    border-radius: min(20px, 3%) / 50%;
}
.header input[type='search']:focus {
    outline: none;
}
.header > .top-header .profile {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bottom-header {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.bottom-header > .welcome {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
    gap: 10px;
}

.bottom-header > .actions {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    align-items: center;
}

.main-content {
    background-color: rgba(226, 233, 241, 255);
    display: grid;
    grid-template-columns: 1fr 25%;
    padding: 40px 20px;
    gap: 30px;
}

.main-content p {
    color: gray;
}

.projects-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    margin-top: 20px;
}

.projects-list > div {
    background-color: white;
    padding: 2em;
    border-radius: 7px;
    box-shadow: inset 7px 0px rgb(231, 183, 58), 2px 5px 5px lightgray;
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
}

.projects-list > div > div {
    justify-self: end;
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
    align-self: end;
}

.others {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    align-content: start;
    gap: 20px;
}

.announcements > div {
    background-color: white;
    border-radius: 7px;
    padding: 30px;
    margin-top: 20px;
    display: grid;
    gap: 40px;
    box-shadow: 2px 5px 5px lightgray;
}

.announcements > div > div + div {
    position: relative;
}

.announcements > div > div + div::after {
    content: '';
    position: absolute;
    top: -20px;
    height: 1px;
    width: 100%;
    background-color: lightgray;
}

.trending {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 20px;
    margin-top: 10px;
}

.trending > div {
    display: grid;
    background-color: white;
    border-radius: 7px;
    box-shadow: 2px 5px 5px lightgray;
    padding: 30px 20px;
    align-content: space-evenly;
    gap: 50px;
}

.trending > div > div {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 1em);
    column-gap: 20px;
    row-gap: 5px;
    justify-items: start;
}

.trending > div > div > img {
    grid-row: 1 / 3;
}

.trending .pseudo {
    color: black;
}